.header {
    position: fixed;
    top:0;
    width: 100%;
    z-index: 100;
    color: #000;
    background-color: #fff;
    &.header-active {
        background-color: transparent;
        color: #fff;
    }
    &.header-active .navigation ul li.active{
        border-bottom: 2px solid #fff;
    }
    .header-inner {
        display: flex;
        max-width: 1240px;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
        .block-right {
            display: flex;
            align-items: center;
        }
    }
}